################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SoftwareArchitecture.Data/obj
/TableDataGateway/obj
/.vs
